@model WebApplication6.Models.Employee

<section>
    @Html.DisplayName("FirstName")-@Html.DisplayText("FirstName")</br>
    @Html.DisplayName("DateOfBirth")-@Html.DisplayText("DateOfBirth")</br>

    @Html.DisplayNameFor(x=>x.FirstName)-@Html.DisplayTextFor(x=>x.FirstName)</br>
    @Html.DisplayNameFor(x => x.DateOfBirth)-@Html.DisplayTextFor(x => x.DateOfBirth)</br>
</section>
