<h1>ViewBag - Example</h1>

<hr/>

<h1>@ViewBag.Name</h1>

<ul>
@foreach(var item in ViewBag.List)
{
    <li>@item</li>
}
</ul>

 <h1>Id:@ViewBag.Employee.Id</h1>
<h1>Name:@ViewBag.Employee.Name</h1>
<h1>Email:@ViewBag.Employee.Email</h1>  